[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hhh4contacts"]
	path = hhh4contacts
	url = https://codeberg.org/ee-hub/hhh4contacts
[submodule "polyCub"]
	path = polyCub
	url = https://github.com/bastistician/polycub
